@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 20px;
}

.light {
  background-color: white;
  color: #6b7280;
}
.dark {
  background-color: #24242f;
  color: #6b7280;
}

@media screen and (max-width: 968px) {
  .modal-content {
    margin: 20% auto;
    width: 50%;
  }
}

@media screen and (max-width: 568px) {
  .modal-content {
    margin: 40% auto;
    width: 80%;
  }
}
